
header{
    text-align: center;
    background-color: lightcyan;
    border: 1rem solid lightblue;
    color: darkslategray;
}

#joke-box{
    margin: 2.5rem auto;
    max-width: 500px;
    border: .5rem solid lightblue;
    padding: 1rem;
    text-align: center;
    background-color: gainsboro;
    box-shadow: 0 2px 6px lightblue;


}

#joke-category-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: darkslategray;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

button:hover {
    opacity: 1.4;
}

button {
    padding: .8rem;
    font-size: 1rem;
    cursor: grab;
    border: none;
}

.btn-random { background-color: lightblue;}
.btn-prog { background-color: lightblue;}
.btn-misc { background-color: lightblue;}
.btn-pun { background-color: lightblue;}
.btn-spooky { background-color: lightblue;}
.btn-christmas{ background-color: lightblue;}
